@charset utf8;

html, body{
	height: 100%;
	font: 10px 'Microsoft Yahei';
}
html, body, p, ul, li, a {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
li {
	list-style: none;
}

body {
	overflow: hidden;
	position: relative;
	background: -webkit-linear-gradient(to bottom, #18504F, #699C78, #CF9459, #A7A79F) no-repeat;
	background:         linear-gradient(to bottom, #18504F, #699C78, #CF9459, #A7A79F) no-repeat;
}

.item {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2rem 1rem;
	min-width: 72rem;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	background: rgba(120, 120, 120, .3);
	border-radius: .8rem;
	color: #fff;
}

.item > .title {
	font: 2.5rem 'SimKai';
	text-align: center;
}

.item > .person {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.item > .line-top {
	margin: 1rem auto;
	height: 0;
	width: 90%;
	border: 1px solid #fff;
}

.item > .menu {
	margin: 0 auto;
	padding: 1rem 1rem;
	width: 90%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.item > .menu:hover {
	background: rgba(75, 75, 75, .5);
	border-radius: .8rem;
}

.item > .menu li {
	display: inline-block;
	margin-left: 1rem;
	font-size: 2rem;
}

.item > .menu .blog:hover {
	color: #18504F;
}
.item > .menu .weibo:hover {
	color: #E82C34;
}
.item > .menu .twitter:hover {
	color: #56B0E3;
}
.item > .menu .github:hover {
	color: #333333;
}
.item > .menu .lab:hover {
	color: #CB9660;
}
.item > .line-bottom {
	margin: 1rem auto;
	height: 0;
	width: 90%;
	border: 1px solid #fff;
}

.item > .about {
	margin: 1rem auto;
	width: 90%;
}
.item > .about a {
	float: right;
	font-size: 1.5rem;
}

.item > .about a:hover {
	color: #CB9660;
}

/* for ipad*/
@media (max-width: 768px) {
	.item {
		width: 38.4rem;
	}
	.item > .menu li {
		display: block;
		margin: 2rem auto;
	}
	.item > .menu:hover {
		background: none;
	}
}

/* for mobile */
@media (max-width: 480px) {
	.item {
		width: 24rem;
	}
}
