@charset utf8;

/* reset */
html, body, ul, li, a {
	margin: 0;
	padding: 0;
	font: 10px 'Microsoft YaHei';
	color: #fff;
}
html, body {
	height: 100%;
	min-width: 720px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}

/* main-content */
.container {
	position: relative;
	height: 100%;
	background: #272822;
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -51px;
	margin-left: -325px;
	height: 102px;
	width: 650px;
	text-align: center;
}
.content a {
	display: inline-block;
	margin-left: 30px;
	height: 100px;
	width: 100px;
	border: 1px solid #ccc;
	border-radius: 50%;
	text-align: center;
}
.content a:first-child {
	margin-left: 0;
}
.iconfont {
	line-height: 100px;
}

.about {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 71px;
	margin-left: -325px;
	height: 51px;
	width: 650px;
	border-top: 1px solid #fff;
}
.about-content {
	display: inline-block;
	float: right;
	margin-top: 10px;
	font-size: 15px;
}
.about-content:hover {
	color: #b2ad7b;
}

/* Animation */
.content a:hover {
	-webkit-animation: ro .3s linear;
			animation: ro .3s linear;
	             background: #2e281b;
}
@-webkit-keyframes ro {
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes ro {
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

/* For mobile */
@media (max-width: 480px) {
	html, body {
		min-width: 370px;
	}
	.content {
		margin-top: -31px;
		margin-left: -182.5px;
		height: 62px;
		width: 365px;
	}
	.content a {
		margin-left: 10px;
		height: 60px;
		width: 60px;
	}
	.iconfont {
		line-height: 60px;
	}
	.about {
		margin-top: 51px;
		margin-left: -182.5px;
		height: 31px;
		width: 365px;
	}
}
@media (max-width: 365px) {
	html,body {
		background: #272822;
	}
}